//Equal Height for Columns
.v_center [class^="col"]  > *,
.eq_height [class^="col"]  > * {
  min-height: 100%;
}

.v_center [class^="col"] > * {
  display: flex;
	align-items: center;
}

.h_center [class^="col"] > * {
  justify-content: center;
}
