//Flexgrid
.aw_container .aw_row {
  max-width: $max_content_width;
  margin: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.aw_container .aw_row.aw_stretch [class^="col"] {
  flex-grow: 1;
}

.aw_container > .aw_row > [class^="col"]  {
  @include mq($from:medium) {
    padding-left: $global_gutter;
    padding-right: $global_gutter;
  }

  @include mq($until:medium) {
    padding-left: $global_gutter_small;
    padding-right: $global_gutter_small;
  }
}


//Default Column Settings
.aw_container .aw_row [class^="col"] {
  margin: 0;
  min-height: 0.125rem;
  flex-grow: 0;

  @include mq($until:medium) {
    &:not([class*="md"]):not([class*="sm"]) {
      flex-basis: 100%;
    }
  }

  @include mq($until:small) {
    &:not([class*="sm"]){
      flex-basis: 100%;
    }
  }
}



$max-columns: 12;
$max-columns-md: 8;
$max-columns-sm: 4;
//Grid from Medium and larger
@include mq($from:medium) {
  @for $i from 1 through $max-columns {
    .col_#{$i} {
      flex-basis: (($i / $max-columns) * 100)+0%;
    }
  }
}

@include mq($from:small, $until: medium) {
  @for $i from 1 through $max-columns {
    .col_#{$i}md {
      @if (($i / $max-columns) * 100 ) > (100 / $max-columns-md) {
        flex-basis: (($i / $max-columns) * 100)+0%;
        max-width: (($i / $max-columns) * 100)+0%;
      }@else{
        flex-basis: (100 / $max-columns-md)+0%;
      }
    }
  }
}


@include mq($until: small) {
  @for $i from 1 through $max-columns {
    .col_#{$i}sm {
      @if (($i / $max-columns) * 100 ) > (100 / $max-columns-sm) {
        flex-basis: (($i / $max-columns) * 100)+0%;
      }@else{
        flex-basis: (100 / $max-columns-sm)+0%;
      }
    }
  }
}

// @include mq($from: small) {
//   $max-columns-special: 8;
//   @for $i from 1 through $max-columns-special {
//     .aw_special_grid_caware {
//       .col_#{$i}xsm,
//       .col_#{$i}sm,
//       .col_#{$i}md,
//       .col_#{$i} {
//         flex-basis: (($i / $max-columns-special) * 100)+0%;
//       }
//     }
//   }
// }
//


//Special Grid
.aw_container.aw_special_grid_list .aw_row {
  display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 0.1rem 30px;
  padding-left: $global_gutter;
  padding-right: $global_gutter;

  [class^="col"] {
    padding: 0;
  }

	@include mq($until:medium) {
		grid-template-columns: repeat(8, [col-start] 1fr);
    gap: 0.1rem 20px;

    padding-left: $global_gutter_small;
    padding-right: $global_gutter_small;
	}

	@include mq($until:small) {
		grid-template-columns: repeat(4, [col-start] 1fr);
	}
}


//Nesting Padding
