@import 'colors';
@import 'globals';
@import 'breakpoints';
@import 'breakpoint_master';
@import '/flex_grid';
@import '/flex_layout';
@import '/spacing';


* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: sans-serif;
}
body, html {
  color: $dark;
  scroll-behavior: smooth;
  line-height: 1.25;
}

#viewPort {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 12px;
  background-color: white;
  padding: 0.1rem 0.25rem;
  z-index: 99;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2)
}

h1, h2, h3 {
  text-align: center;
  color: $dark;
}

p {
  font-size: 14px;
  color: $dark;
  max-width: 60ch;
  text-align: center;
  margin: auto;
  padding: 0 1rem;
}

.aw_bg_gray {
  background-color: $light_gray;
}

.aw_container {
 margin-top: 1rem !important;
}

.aw_container .aw_row .aw_module {
  font-size: 14px;
  background-color: $gray;
  min-height: 30px;
  margin-bottom: 0.25rem;
  border: 1px solid $dark_gray;
  text-align: center;
}

//Copy from here ###########################

.v_center [class^="col"]  > *,
.eq_height [class^="col"]  > * {
  min-height: 100%;
}

.eq_height [class^="col"]  > *,
.v_center [class^="col"] > * {
  display: flex;
	align-items: center;
}

.h_center > * {
  justify-content: center;
}

.h_start > * {
  justify-content: flex-start;
}

.h_end > * {
  justify-content: flex-end;
  align-items: flex-end;
}


.left {
  text-align: left;
  margin-right: auto;

  > * {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  > * { 
    justify-content: center;
    align-items: center;
  }
}

.right {
  text-align: right;
  margin-left: auto;

  > * {
    justify-content: flex-end;
    align-items: flex-end;
  }
}


.aw_push_down_last > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  > *:nth-last-child(2) {
    flex-grow: 1;
    margin-top: auto;
  }
}