@import 'colors';
@import 'globals';
@import 'breakpoints';
@import 'breakpoint_master';
@import '/flex_grid';
@import '/flex_layout';
@import '/spacing';


* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: sans-serif;
}
body, html {
  color: $dark;
  scroll-behavior: smooth;
  line-height: 1.25;
}

#viewPort {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 12px;
  background-color: white;
  padding: 0.1rem 0.25rem;
  z-index: 99;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2)
}

h1, h2, h3 {
  text-align: center;
  color: $dark;
}

p {
  font-size: 14px;
  color: $dark;
  max-width: 60ch;
  text-align: center;
  margin: auto;
  padding: 0 1rem;
}

.aw_bg_gray {
  background-color: $light_gray;
}

.aw_container {
 margin-top: 1rem !important;
}

.aw_container .aw_row .aw_module {
  font-size: 14px;
  background-color: $gray;
  min-height: 30px;
  margin-bottom: 0.25rem;
  border: 1px solid $dark_gray;
  text-align: center;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
}

//Copy from here ###########################

//Nesting
.aw_container > .aw_row > [class^="col"] .aw_row > [class^="col"] {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  @include mq($from:medium) {
    padding-left: $global_gutter;
    padding-right: $global_gutter;
  }

  @include mq($from:small, $until:medium) {
    padding-left: $global_gutter_small;
    padding-right: $global_gutter_small;
    
    &[class*="12"],
    &[class*="12"]:not([class$="sm"]){
      padding-left: 0;
      padding-right: 0; 
    }

  }

  @include mq($until:small) {
    &[class$="md"],
    &[class$="12sm"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
} 